body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

header {
    background-color:#165C74;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#branding {
    display: flex;
    align-items: center;
}

#logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Adjust the margin as needed */
}

nav {
    margin-top: 10px;
    text-align: center;
    flex-grow: 1; /* Added to make the nav take up the remaining space */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    border-bottom: 2px solid white; /* Adds an underline on hover */
}
.page-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-content p {
    margin-bottom: 15px;
    line-height: 1.5;
}
.mission{
        color: #165C74;
        
}
.hero {
    text-align: center;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add border radius for a rounded appearance */
}
.new-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 500%);
}

.join-button {
    background-color: #165C74;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.join-button a {
    color: white;
    text-decoration: none;
}

.join-button:hover {
    background-color: #BF6100;
}

.new-release {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-release h2 {
    text-align: center;
    color: #333;
}

.new-release h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

.new-release p {
    margin: 10px 0;
    line-height: 1.6;
}

.butt2 {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

.butt2:hover {
    color: #0056b3;
}
footer {
    background-color:  #165C74;
    color: white;
    padding: 10px;
    text-align: center;
}